.icon {
  display: block;

  height: $icon-size-small;
  width: $icon-size-small;

  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: $icon-size-big;
    width: $icon-size-big;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
