.input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border: 1px solid transparent;
  border-radius: 40px;

  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-text-input;
  letter-spacing: 0;

  background-color: $color-bg-input;

  &::placeholder {
    color: $color-placeholder;
  }

  &--textarea {
    resize: none;

    height: auto;
    min-height: 148px;
    margin: auto;
    border-radius: 16px;

    line-height: 20px;
  }

  &:hover {
    border: 1px solid #d5d7de;

    &::placeholder {
      color: $color-text-input;
    }
  }

  &:focus {
    border: 1px solid #292929;
    color: $color-text-input;
    outline: none;

    &::placeholder {
      color: $color-text-input;
    }
  }
}
